.comedy_h2{
    color:white;
    padding:1rem;
    margin-left:1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.comedy_films{
    // border: solid 1px white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin:20px;
}

.comedy{
    // border: solid 1px red;
    padding:10px;
    margin:1rem;
}

.comedy_p{
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.comedy_img{
    width:25vh;
}