.films_container{
    // border: solid 1px white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:5px;
}

.films{
    // border: solid 1px red;
    padding:10px;
}

.films_p{
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.films_img{
    width: 20vh;
}