.nav{
    width: 100%;
}

.nav_ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_li{
    color:white;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:1.5rem;

    & p{
        padding: 10px;
        font-weight: bolder;
        font-size: 1rem;
    }
}

.nav_li_img{
    gap:5rem;
    padding:2rem;
    width:20vh;
}

.img_babylon{
    border: solid 1px transparent;
    width:100%;
    height: 1000px;
    background-image: url('../../../assets/images/Babylon/babylon.jpg');
    background-position: center center;
}

.babylon_container{
    display: flex;
    flex-wrap: wrap;
    
 & h4{
    background-color: transparent;
    color: white;
    text-align: start;
    font-size: 1.5rem;
    font-weight: lighter;

 };
 
 & h2{
    background-color: transparent;
    color: white;
    text-align: start;
    font-size: 6rem;
    font-weight: bolder;
 }   
}

.babylon_text{
    padding:3rem;
    background-color: transparent;
    margin-top: 300px;
}
