<nav class="nav">
  <ul class="nav_ul">
    <li class="nav_li">
      <img
        class="nav_li_img"
        src="../../../assets/images/LOGO/logo.png"
        alt=""
      />
    </li>
    <li class="nav_li">
      <p>Series TV</p>
      <p>Películas</p>

    </li>
  </ul>
  <div class="nav_babylon" *ngFor="let films of navFilms">
    <div class="babylon_container">
      <div class="img_babylon">
        <div class="babylon_text">
        <h4>{{ films.writer }}</h4>
        <h2>{{ films.title }}</h2>
    </div>
    </div>
      </div>
      <!-- <img src="{{films.img}}" alt=""> -->
    </div>
</nav>
